In [1]:
import pandas as pd
import json

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
subjects = ['Physics', 'Chemistry', 'ComputerScience', 'Hindi', 
            'Biology', 'PhysicalEducation', 'Economics', 
            'Accountancy', 'BusinessStudies', 'English', 'Mathematics']

In [3]:
train = []
with open('training.json') as file:
    _ = file.readline()
    for line in file.readlines():
        marks = json.loads(line)
        del marks['serial']
        for subject in subjects:
            if subject not in marks:
                marks[subject] = 0
        train.append(marks)

In [4]:
x_train = pd.DataFrame(train, columns=subjects)
y_train = x_train['Mathematics']
x_train.head()

,Physics,Chemistry,ComputerScience,Hindi,Biology,PhysicalEducation,Economics,Accountancy,BusinessStudies,English,Mathematics
0,8,7,0,0,0,3,0,0,0,4,6
1,1,1,0,0,0,1,0,0,0,3,3
2,1,2,0,0,0,2,0,0,0,1,2
3,8,7,0,0,0,6,0,0,0,7,7
4,1,1,0,0,0,1,0,0,0,3,2

In [5]:
x_train = x_train.drop('Mathematics', axis=1)

In [6]:
regressor = LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [7]:
n = int(input())
test = []
for i in range(n):
    s = input()
    marks = json.loads(s)
    del marks['serial']
    for subject in subjects:
        if subject not in marks:
            marks[subject] = 0
    test.append(marks)

3
{"Physics":2,"Chemistry":2,"Biology":1,"English":1,"serial":221375}
{"Physics":3,"Chemistry":3,"ComputerScience":4,"English":4,"serial":150188}
{"Accountancy":1,"BusinessStudies":1,"Economics":3,"English":1,"serial":12154}

In [8]:
x_test = pd.DataFrame(test, columns=subjects[:-1])
x_test.head()

,Physics,Chemistry,ComputerScience,Hindi,Biology,PhysicalEducation,Economics,Accountancy,BusinessStudies,English
0,2,2,0,0,1,0,0,0,0,1
1,3,3,4,0,0,0,0,0,0,4
2,0,0,0,0,0,0,3,1,1,1

In [9]:
predict = regressor.predict(x_test)

In [10]:
for pred in predict:
    print(pred)

2.406434613587407
3.5826828610351877
2.5805455051929247